:root {
	--color-light: hsl(0, 0%, 98%);
	--color-light-2: hsl(0, 0%, 94%);
	--color-light-3: hsl(0, 0%, 90%);
	--color-light-4: hsl(0, 0%, 86%);
	--color-light-5: hsl(0, 0%, 82%);
	--color-light-6: hsl(0, 0%, 78%);
	--color-light-7: hsl(0, 0%, 74%);
	--color-light-8: hsl(0, 0%, 70%);
	
	--color-dark: hsl(0, 0%, 0%);
	--color-dark-2: hsl(0, 0%, 18%);
}